*,
*:hover {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;

}
body {
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 144rem;
  width: 100%;
  height: 100%;
  border: 0.1rem solid aqua;
}
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
}

.logo__p {
  padding-top: 2.9rem;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav__ul {
  display: flex;
  gap: 4.6rem;

  color: #000;
  text-align: center;
  list-style-type: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 3.7rem 0;
}
.nav__link {
  text-decoration: none;
  color: #000;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .image {
  background: url("../img/01.png") center / cover no-repeat;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  margin-bottom: 6rem;

}

.home .title {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
}

.home .span {
  display: block;
  width: 80px;
  height: 10px;
  background: #817070;
  position: absolute;
  text-align: center;
  top: 57%;
}
.story {
  border-bottom: 1px solid #817070;

}
.story .title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.story .content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  padding: 0 8rem;

}

.content .image {
  background: url("../img/02.png") center / cover no-repeat;
  height: 40rem;
  max-width: 60rem;
  width: 100%;
  margin-bottom: 6rem;
}
.content > p {
  color: #000;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 11rem;
}

.blog {
  border: 1px solid #817070;
  background: #EFEFEF;
}

.blog .title{
  padding: 6rem 0;

}

.blog .title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
}
.card {
  max-width: 365px;
  width: 100%;
  height: 448px;
  background: #FFF;
  margin-bottom: 6.5rem;


}
.card__title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 2rem;
}
.img01{
  background: url("../img/card01.png") center / contain no-repeat;
  height: 216px;
  width: 100%;
  margin: 20px 0;

}
.img02{
  background: url("../img/card02.png") center / contain no-repeat;
  height: 216px;
  width: 100%;
  margin: 20px 0;

}
.img03{
  background: url("../img/card03.png") center / contain no-repeat;
  height: 216px;
  width: 100%;
  margin: 20px 0;

}
.card .card__text {
  color: #000;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: start;
  padding: 0 2rem;
  word-break: break-all;
}
